.wrapper{
      pointer-events: none;
      background-color: #00000069;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 100;
      backdrop-filter: blur(9px);
}
.bg{
      border-radius: var(--radius);
      background-image: url("/loginbg.jpg");
      background-repeat: space;
}
.panel{
      border-radius: var(--radius);
      pointer-events: all;
      margin: auto;
      width: 50rem;
      margin-top: 10rem;
      height: 30rem;
      background-color: var(--background);
      box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.137);
      display: flex;
}
.panel>div{
      flex-grow: 1;
      flex: 50%;
}

.input{
      width: auto;
      margin: auto;
      display: flex;
      justify-content: flex-end;
      margin: 1rem;
      margin-right: 4rem;
      height: 2rem;
      align-items: center;
}
.input p{
      text-align: right;
      margin-right: 1rem;
      font-weight: 500;
}
.input input{
      width: 70%;
      height: 100%;
      border-bottom: 1.5px solid var(--foreground);
      text-align: center;
}
.next_btn{
      width: 10rem;
      height: 3rem;
      background-color: var(--accent-color1);
      text-align: center;
      cursor: pointer;
      font-weight: 600;
}
.next_btn:hover{

}