.order_wrapper{
      margin: auto;
      margin-top: 10rem;
      width: 40rem;
      display: flex;
      gap: 1rem;
      flex-direction: column;
}
.order_collums{
      display: flex;
      justify-content: space-between;
}
.order_item{
      width: 100%;
      height: auto;
      border: 1px solid grey;
      padding: 1rem;
      
}
.order_status{
      width: calc(100% + 2rem);
      height: 3rem;
    
      margin: -1rem;
      margin-top: 2rem;
      text-align: center;
      font-weight: 800;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
}
.order_status button{
      padding: 0.5rem;
      background-color: white;
      cursor: pointer;
}
.order_status_new{
  background-color: #da6124;
}
.order_status_inProgress{
  background-color: #cfdf5b;
}
.order_history_el{
      width: auto;
      background-color: #eeeeee;
      padding: 0.5rem;
      border: 1px dashed gray;
}