.card {
  height: auto;
  margin-left: -1px;
  margin-top: -1px;
  padding: 1rem;
  border: 1px solid var( --outline-color2);
  cursor: pointer;
  transition-duration: 50ms;
}
.card:hover{
      outline:  2px solid rgb(218, 159, 10);;
}

.card h3 {
  font-weight: 600;
  margin-top: 0.5rem;
  cursor: pointer;
  font-weight: 500;
}
.card img {
  transition-duration: 200ms;
}
.card:hover img {
  transform: scale(1.05);
}
.card button {
  cursor: pointer;
  width: 100%;
  height: 2rem;
  margin: auto;
  transition-duration: 100ms;
  border-radius: var(--radius);
}
.card button:hover {
  /* color: var(--accent-color1); */
  background-color: var(--accent-color1);
  height: 3rem;
}
.inactive {
  opacity: 0.5;
      color: var(--foreground);
}

.page_dot {
  border-radius: 50%;
  background-color: var(--foreground);
  opacity: 0.3;
  width: 0.5rem;
  height: 0.5rem;
  z-index: 5;
}
.page_dot.active {
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  opacity: 1;
  background-color: white;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.157);
}
.old_price{
      text-decoration: line-through;
}
.price {
  color:  brown;
}
.sale_tag{
      background-color: brown;
      color: white;
      width: fit-content;
      padding: 0 1rem 0 1rem;
      height: 2rem;
      text-align: center;
      line-height: 2rem;

      margin-bottom: -2rem;
      position: relative;
      font-weight: 700;
      border-radius: 1rem;
      z-index: 9;
}