.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh; /* Высота на весь экран */
  /* background: #f5f5f5; */
  padding: 30px;
  border-right: 1px solid #ddd;
  overflow-y: auto; /* если пунктов много — меню внутри может скролиться */
  transition-duration: 100ms;
}
/* вот наш градиент */
.sidebar_fade {
  content: "";
  position: fixed;
  left: 0;
  bottom: 0;
  width: 299px;
  height: 60px; /* высота градиента */
  pointer-events: none; /* чтобы не мешал кликам */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 10;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar h2 {
  font-size: 1.7rem;
  text-align: center;
}
.sidebar h3 {
  font-size: 1.5rem;
  margin-bottom: 5rem;
  text-align: left;
}
.hidden {
  /* width: 0px; */
  /* display: none; */
  left: -300px;
}
.hide_btn {
  width: 2.2rem;
  height: 2.2rem;
  /* float: right; */
  cursor: pointer;
  position: fixed;
  left: 300px;
}
.hide_btn:hover {
  border-radius: 0.5rem;
  background-color: #f6cc5a;
}
.hide_btn > img {
  width: 1.8rem;
  height: 1.8rem;
  margin: auto;
}
.sidebar * h1 {
  font-size: 1.15rem;
  margin-top: 1rem;
  margin-left: 1rem;
  cursor: default;
}
.sidebar * li {
  cursor: pointer;
  line-height: 1.6rem;
  padding: 0.2rem;
  padding-left: 1rem;
  /* margin-left: 0.5rem; */
  font-size: 1rem;
  color: #656565;
}
.details {
  font-size: 0.8rem;
  color: rgb(48, 48, 48);
}
.sidebar * li:hover {
  background-color: var(--btn-bg-focus);
  border-radius: 0.5rem;
  /* padding-bottom: 0.5rem;
 padding-top: 0.5rem; */
}
