@import "tailwindcss";

/* [data-theme="dark"] {
  --text-color: white;
  --icon-filter: invert(1);
  --icon-filter1: invert(0);
  --bg: #171717;
  --panel-bg: #303030;
  --panel-bg1: #e6e6e6;
  --panel-bg-nn: #4e4e4e;
  --outline1: #4a4a4a;
  --panel-btn-outline: #6d6d6d;
  --footer-color: #343434;
  --btn-active: #404040;
} */

.koho-extralight {
  font-family: "KoHo", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.koho-light {
  font-family: "KoHo", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.koho-regular {
  font-family: "KoHo", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.koho-medium {
  font-family: "KoHo", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.koho-semibold {
  font-family: "KoHo", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.koho-bold {
  font-family: "KoHo", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.koho-extralight-italic {
  font-family: "KoHo", sans-serif;
  font-weight: 200;
  font-style: italic;
}
.koho-light-italic {
  font-family: "KoHo", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.koho-regular-italic {
  font-family: "KoHo", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.koho-medium-italic {
  font-family: "KoHo", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.koho-semibold-italic {
  font-family: "KoHo", sans-serif;
  font-weight: 600;
  font-style: italic;
}
.koho-bold-italic {
  font-family: "KoHo", sans-serif;
  font-weight: 700;
  font-style: italic;
}

:root {
  --bg-fade: linear-gradient(
    to right top,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff
  );
  --accent-color1: #f3a30e;
  --accent-color2: #976810;
  --background: #ffffff;
  --background-a: #ffffffde;
  --foreground: #171717;

  --btn-bg: #f6f6f6;
  --btn-bg-focus: rgb(236, 239, 240);
  --outline-color: #c2c2c2;
  --outline-color2: #c2c2c2;
  --radius: 0.5rem;
  --icon-filter: none;
  /* font-family: var(--font-koho); */
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --bg-fade: linear-gradient(
      to right top,
      #000000,
      #0f0c0e,
      #181518,
      #1e1c22,
      #22242c
    );
    --background: #0a0a0a;
    --background-a: #000000b1;
    --foreground: #ededed;

    --outline-color: #3c3c3c;
    --outline-color2: rgb(85, 85, 85);
    --btn-bg: #1b1b1b;
    --icon-filter: invert(1);
    --btn-bg-focus: #2b2d2d;
  }
}

body {
  background: var(--background);
  background-image: var(--bg-fade);
  color: var(--foreground);
  font-family: KoHo, Helvetica, sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}
.font-geist-sans {
  font-family: var(--font-geist-sans), sans-serif;
}
.font-zalando {
  font-family: var(--font-zalando), sans-serif;
}
.font-koho {
  font-family: var(--font-koho), sans-serif;
}
h1 {
  font-family: "KoHo", sans-serif;
  font-size: 2.5rem;
}
h2 {
  font-family: "KoHo", sans-serif;
  font-size: 1.8rem;
}
h3 {
  font-family: "KoHo", sans-serif;
}
p {
  font-family: "KoHo", sans-serif;
}

.menu-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10rem);
  gap: 1rem;
  width: auto;
  /* justify-content: center; */
}

.product-btn {
  position: relative;
  width: 10rem;
  height: 10rem;
  background-color: var(--btn-bg);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-duration: 0.2s;
  cursor: pointer;
  overflow: clip;
  line-height: 1rem;
}
.product-btn:hover {
  background-color: var(--btn-bg-focus);
}
.product-btn img {
  margin: auto;
  margin-bottom: 0rem;
  filter: var(--icon-filter);
  /* overflow: hidden; */
}
.product-btn-title {
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  margin: 0.7rem;
}
.border-default {
  outline: 1px solid var(--outline-color2);
  border-radius: var(--radius);
}
.editor-businesscard-preview {
  background-color: #e9e9e9;
  border-radius: var(--radius);
  padding: 1rem;
}
.editor-businesscard-90x50 {
  width: calc(90px * 5);
  height: calc(50px * 5);
  background-color: aqua;
}

.editor-field {
  width: 100%;
  margin: 1rem;
  display: flex;
}
.editor-field > span {
  font-weight: 600;
  font-size: 1rem;
  width: 20%;
  text-align: right;
  margin: 0.5rem;
  margin-right: 1rem;
}
.editor-field input {
  font-weight: 600;
  font-style: normal;
  font-size: 1.2rem;
  width: 65%;
  text-align: center;
  border-bottom: 2px solid black;
}
.main-panel {
  background-image: linear-gradient(
    109.6deg,
    rgb(181, 142, 225) 11.2%,
    rgb(42, 111, 151) 100.2%
  );
}

.home-category{
  display: flex;
  color: white;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
  font-size: larger;
  gap: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: var(--radius);
  transition-duration: 100ms;
  cursor: pointer;
}
.home-category:hover{
  background-color: rgba(0, 0, 0, 0.115);
}
.home-category img{
  width: 2.5rem;
}
@media only screen and (max-width: 900px) {
  .menu-buttons {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 1rem;
    width: auto;
    /* justify-content: center; */
  }
  .product-btn {
    position: relative;
    width: 100%;
    height: 9rem;
    background-color: var(--btn-bg);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: 0.2s;
    cursor: pointer;
    overflow: clip;
    line-height: 1rem;
  }
  .screen-hidden{
    display: none;
  }
}
