.footer{
      width: 100%;
      height: 25rem;
      margin-top: 5rem;
      background-color: rgb(36, 36, 36);
      color: rgb(194, 194, 194);
      font-size: 01rem;
      display: flex;
      justify-content: center;
      padding-top: 2rem;
}