.wrapper {
  position: fixed;
  z-index: 20;
  width: 100vw;
  transition: opacity 200ms ease;
  pointer-events: none;
  overflow: scroll;
}
.wrapper.show {
  pointer-events: all;
}
.wrapper .tab.shown {
}
.sidebar {
  width: 100vw;
  height: 100vh;
  background-color: var(--btn-bg);
  box-shadow: 2px 0 20px rgba(0, 0, 0, 0.076);

  transform: translateX(-120%);
  transition: transform 200ms ease;
}

.wrapper.show .sidebar {
  transform: translateX(0);
}

.burger {
  width: 1.7rem;
  margin: 1rem;
}
.burger img {
  filter: var(--icon-filter);
}
.content {
  width: 100vw;
  height: auto;
  z-index: 21;
  display: block;
}
.tabs {
  display: block;
}
.tabs > li {
  height: 3rem;
  font-weight: 400;
}
.tab {
  width: 100%;
  height: 90%;
  padding: 1rem;
  position: absolute;
  left: -120%;
  transition-duration: 100ms;
  background-color: var(--btn-bg);
  top: 5rem;
}
.tab.shown {
  left: 0;
}
.tab > ul > li {
  padding: 0.5rem;
  border-radius: var(--radius);
}
.tab > ul > li:active {
  background-color: var(--btn-bg-focus);
}
.tab > ul > hr {
  color: var(--outline-color2);
}
